@charset "UTF-8";

/* * {
    background-color:aquamarine;
    color: rgb(68, 85, 89);
} */

nav {
    background-color: #40026C;
}

.card {
    background-color: #fff;
}

.card-body {
    
    box-shadow:0px, 0px, 2px;
}

body {
    background-color: #D4D3D3;
}
/* .card-img-top{
    width: 100px;
    right: 100px;
} */