@charset "UTF-8";

/* * {
    background-color:aquamarine;
    color: rgb(68, 85, 89);
} */

/* nav {
    background-color: #40026C;
} */

.card {
    background-color: #fff;
}

/* .card-body {
    
    box-shadow:0px, 0px, 2px;
} */

body {
    background-color: #D4D3D3;
}
/* .card-img-top{
    width: 100px;
    right: 100px;
} */
.textonav {
    color: #fff;
}
/* .card1 {
    margin: 20px 20px 20px 20px;
}
.card2 {
    margin: 20px 20px 20px 20px;
}
.card3 {
    margin: 20px 20px 20px 20px;
}
.card4 {
    margin: 20px 20px 20px 20px;
}
.card5 {
    margin: 20px 20px 20px 20px;
} */

/* .espacamento {
    flex-direction: space-between;
} */

.cormenu a {
    color: #fff;
}
.cormenu {
    background-color: #40026C;
}
.corbotao  {
    background-color: #40026C;
    border: none;
  

}
/* .btn :hover {
    background-color: rgb(255, 0, 128) !important;
    padding: 6px 12px;
} */
.textocor {
    color: #fff;
}
.container {
    position: row;
}